<html>
    <head>
        <title>Interest Rate Calculator</title>
	<link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <center>
	<form method="POST" action="{{ url_for('interest') }}">
            <label for="balance">Balance</label>
	    <input class="form" name="balance" type="input" required></input><br><br>
	    <label for="payment">Monthly Payment</label>
	    <input class="form" name="monthlyPayment" type="input" required></input><br>
	    <input type="submit" value="Submit" />
	</form>
        </center>
    </body>
</html>
